# --- DB ---
MYSQL_DATABASE=aghairsalon
MYSQL_USER=aghairsalon
MYSQL_PASSWORD=change-me
MYSQL_ROOT_PASSWORD=change-me-root

# --- AUTH SERVER DB ---
AUTH_DB_URL=jdbc:mysql://db:3306/aghairsalon
AUTH_DB_USER=aghairsalon
AUTH_DB_PASSWORD=change-me

# --- RESOURCE SERVER DB ---
RES_DB_URL=jdbc:mysql://db:3306/aghairsalon
RES_DB_USER=aghairsalon
RES_DB_PASSWORD=change-me

# --- Service URLs ---
AUTH_SERVER_URL=http://authorization-server:9000
API_URL=http://resource-server:8081

# --- Usando GHCR en compose ---
GHCR_OWNER=israelhuro
TAG=poc-okr4
